.profileUpdatePage {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%; // Ensure form takes full width

      .item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
          font-weight: bold; // Make labels stand out
        }

        input {
          padding: 15px; // Adjust padding for a better fit
          border-radius: 5px;
          border: 1px solid gray;
          transition: border-color 0.3s;

          &:focus {
            border-color: teal; // Change border color on focus
            outline: none; // Remove default outline
          }
        }
      }

      button {
        padding: 15px; // Adjusted padding
        border-radius: 5px;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darkcyan; // Darker shade on hover
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .avatarPreview {
      width: 100px; // Set a fixed width for the preview
      height: 100px; // Set a fixed height for the preview
      object-fit: cover; // Ensure the image covers the area
      border-radius: 50%; // Make the preview circular
      border: 2px solid teal; // Add border to the preview
      margin-top: 10px; // Space above the preview
    }
  }
}