.recent .text {
  padding: 30px;
}
.recent .category span {
  padding: 4px 15px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}
.recent .category i {
  font-size: 20px;
  color: #bec7d8;
}
.recent p {
  color: #72809d;
}
.recent .button {
  border-top: 1px solid #e4e8f3;
  padding: 10px 30px;
}
.recent h1 {
  text-align: center;
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;
}

.show-more {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #aa8453;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-more:hover {
  background-color: #f4b741; /* Thêm hiệu ứng hover cho nút */
}

.btn-more {
  text-align: center;
  margin-top: 20px;
}
