@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;
  background-color: #f4f4f4; // Thay đổi màu nền

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding: 20px; // Thay đổi padding
    border-radius: 10px; // Thêm bo góc
    background-color: white; // Thay đổi màu nền

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px; // Tăng khoảng cách giữa các phần

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
          color: #333; // Thay đổi màu chữ
        }

        button {
          padding: 10px 20px;
          background-color: #fece51;
          cursor: pointer;
          border: none;
          border-radius: 5px; // Thêm bo góc cho nút
          transition: background-color 0.3s; // Hiệu ứng chuyển màu

          &:hover {
            background-color: #fbbd25; // Màu khi hover
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 15px; // Tăng khoảng cách giữa các thông tin

        span {
          display: flex;
          align-items: center;
          gap: 15px; // Tăng khoảng cách giữa icon và text
        }

        img {
          width: 50px; // Tăng kích thước ảnh đại diện
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}